<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/product_header :: header('Добавление продукта')">
</head>
<body>
<form th:action="@{/product/add}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{name}">
    <input type="text" th:field="*{price}">
    <input type="submit" sec:authorize="hasRole('ROLE_SUPER_ADMIN')" value="Добавить">
</form>
</body>
</html>